name: Build Helm Chart

on:
  repository_dispatch:
    types: [build-bot-chart, build-client-chart]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HELM_EXPERIMENTAL_OCI: 1

    steps:
      - uses: actions/checkout@v3

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Select chart
        id: chart
        run: |
          case "${{ github.event.client_payload.chart }}" in
            bot) echo "chart=bot" >> $GITHUB_OUTPUT ;;
            client) echo "chart=client" >> $GITHUB_OUTPUT ;;
            *) echo "Unknown chart"; exit 1 ;;
          esac

      - name: Update values.yaml
        run: |
          CHART=${{ steps.chart.outputs.chart }}

          if [[ "${{ github.event.client_payload.image_tag }}" != "" ]]; then
            echo "Using image.tag = ${{ github.event.client_payload.image_tag }}"
            yq e ".image.tag = \"${{ github.event.client_payload.image_tag }}\"" -i $CHART/values.yaml
          fi

          if [[ "${{ github.event.client_payload.scheduler_tag }}" != "" ]]; then
            echo "Using imageScheduler.tag = ${{ github.event.client_payload.scheduler_tag }}"
            yq e ".imageScheduler.tag = \"${{ github.event.client_payload.scheduler_tag }}\"" -i $CHART/values.yaml
          fi

      - name: Bump version
        run: |
          CHART="${{ steps.chart.outputs.chart }}"
          echo "Chart directory: $CHART"
          VERSION=$(grep '^version:' $CHART/Chart.yaml | awk '{print $2}')
          PATCH=$(echo $VERSION | awk -F. '{printf "%s.%s.%s\n", $1, $2, $3+1}')
          echo "New version: $PATCH"
          sed -i "s/^version: .*/version: $PATCH/" $CHART/Chart.yaml


      - name: Package chart
        run: |
          helm package ${{ steps.chart.outputs.chart }}

      - name: Push to registry (OCI example)
        run: |
          helm registry login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }} docker.io
          helm push ${{ steps.chart.outputs.chart }}-*.tgz oci://docker.io/${{ secrets.DOCKER_HUB_USERNAME }}

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          token: ${{ secrets.PAT_FOR_PUSH }}